<component name="ArtifactManager">
  <artifact type="war" name="spring-scheduled-jboss-ha-timer:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="jboss-task-scheduler.war">
      <element id="artifact" artifact-name="spring-scheduled-jboss-ha-timer:war exploded" />
    </root>
  </artifact>
</component>