<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-scheduled-jboss-ha-timer:war exploded">
    <output-path>$PROJECT_DIR$/target/jboss-task-scheduler</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-scheduled-jboss-ha-timer" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.6" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjrt:1.8.11" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.8.11" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/jboss-task-scheduler/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-scheduled-jboss-ha-timer/web/Web" />
    </root>
  </artifact>
</component>